<style>
  .page-1-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url("./assets/img/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    filter: opacity(0.2);
  }
</style>
<div class="page-1-background"></div>
<div class="hero container d-flex">
  <div
    id="logo-elem"
    class="justify-content-center w-100"
    style=" margin-top: 9%;"
  >
    <div class="row">
      <div class="col"></div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-6 col-xl-6">
        <img class="logo" src="{{ page.assets.logo }}" />
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col-12 buttons">
        <div class="powered-by">
          Powered by
          <a title="GitHub" href="https://education.github.com/pack"
            ><img src="./assets/img/powered_by/logo.png"
          /></a>
        </div>

        <div class="headline-date" style="text-shadow: 0 0 3px #000;">
          {{ page.daterange }}
        </div>

        <div class="tagline" style="text-shadow: 0 0 3px #000;">
          {{ page.tagline }}
        </div>
        <!--
                <a href="{{ page.socials.platform }}">
                    <button type="button" class="btn btn-outline-primary"><i class="fas fa-flask"></i> Get Started!</button>
                </a>
                -->

        <div id="register" class="d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-primary"
            id="devfolio-apply-now"
            onclick="onclickTransfer()"
          >
            <i class="fas fa-check-circle"></i>Apply at Devfolio
          </button>
        </div>

        <a href="{{ page.socials.workshops }}">
          <button type="button" class="btn btn-outline-primary">
            <i class="fas fa-hands-helping"></i> Submit Workshop / Talk
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
<script>
  function onclickTransfer() {
    window.setTimeout(function() {
      window.location.href = "https://hackon.devfolio.co/";
    }),
      1000;
  }

  document.addEventListener("DOMContentLoaded", function() {
    let devfolioOptions = {
      buttonSelector: "#devfolio-apply-now",
      key: "hackon"
    };

    let script = document.createElement("script");
    script.src = "https://apply.devfolio.co";
    document.head.append(script);

    script.onload = function() {
      new Devfolio(devfolioOptions);
    };

    script.onerror = function() {
      document
        .querySelector(devfolioOptions.buttonSelector)
        .addEventListener("click", function() {
          alert("ss");
          window.location.href =
            "https://devfolio.co/external-apply/" + devfolioOptions.key;
        });
    };
  });
</script>
